<%= provide(:title, "新建") %>

<div class="new-passage">
  <p>发布新文章</p>
  <%= form_for(@article, method: :patch)do |form| %>  
    <div class="new-passage-main">
      <div class="new-passage-header">
        <label for="new-passage-title">标题：</label>
        <%= form.text_field :title , id: "new-passage-title", placeholder: "Please inupt article title" %>
      </div>

      <div class="new-passage-body">
        <ul>
          <li class="new-passage-contents">
            <input id="new-passage-editor-button" type="radio" name="new-passage" checked>

            <label for="new-passage-editor-button">编辑</label>
              <div class="new-passage-editor">
                <%= form.text_area :content, id: "new-passage-input" %>
              </div>
          </li>
        </ul>
      </div>

      <div class="new-passage-commit">
        <%= form.submit "确 定", class: "new-passage-commit-button"  %>
      </div>
    </div>
  <% end %>
</div>
