<%= provide(:title, "新建") %>


<%= image_tag current_user.avatar.url(:thumb), class: "img-circle"%>
<%= current_user.name %>
<div class = "new_article">		
	<%= form_for(@article, url: create_article_path)do |form| %>
	<ul>
		<li><%= form.label "标题"  %></li>
		<li><%= form.text_field :title , class: "default" %></li>
	
		<li><%= form.label "内容" %></li>
		<li><%= form.text_area :content , class: "area-default" %></li>
  </ul>
		
  	<%= form.submit "确定", class: "btn btn-default" %>
	<% end %>
</div>
