<div class="main_article">
  <div class="passage">
    <h2 class="passage-title"><%= @article.title %></h2>
    <%= image_tag @user.avatar.url(:thumb), class: "img-circle" %>
    <div class="passage-content">
      <p><%= @article.content %></p>
    </div>
  </div>
</div>

<div class= "show_article_fixed">        
  <div class="other-passage-list">
      <span><i class="icono-list"></i></span>
      <p>其他文章：</p>
      <ul>
        <li class="other-passage-items"><a href="#">文章文章1</a></li>
        <li class="other-passage-items"><a href="#">文章文章2</a></li>
        <li class="other-passage-items"><a href="#">文章文章3</a></li>
        <li class="other-passage-items"><a href="#">文章文章4</a></li>
        <li class="other-passage-items"><a href="#">文章文章5</a></li>
        <li class="other-passage-items"><a href="#">文章文章6</a></li>
        <li class="other-passage-items"><a href="#">文章文章7</a></li>
        <li class="other-passage-items"><a href="#">文章文章8</a></li>
        <li class="other-passage-items"><a href="#">文章文章9</a></li>
      </ul>
  </div>
</div>
    

<div class="messages">

  <div class="message-list">
    <div class="message">
    <% @comments.each do |comment| %>
     
        <div class="message-information">
          <%= image_tag comment.user.avatar.url(:thumb), class: "img-circle" %>
          <div>
          <a href="#"><%= comment.user.name %></a>
          <span class="message-time">2017-01-22 23:56:00</span>
          </div>
          <span class="message-floor">1楼</span>
        </div>
        <div class="comment_content">
          <%= comment.content %>
        </div>
    <% end %>
   </div>  

  
　　<!-- 　　<div class="message-input">
    　　<h2>留言板</h2>
    　　<form>
    　　　　<textarea class="message-text"></textarea>
    　　　　<input class="message-submit" type="submit" value="发表评论">
    　　</form>
    </div> -->
</div>    
  <% if logged_in?  %>
    <div class="add_comment">
      <%= form_for(@comment = current_user.comments.build, url: comments_path)do |form| %>
        <%= hidden_field_tag :article_id, @article.id %>
        <%= form.label "内容" %>
        <%= form.text_area :content , class: "area-default" %>
        <%= form.submit "确定",class: "btn btn-default" %>
      <% end %>
    </div>
  <% end %>
