<div class="user_setting">
	<p class="glyphicon glyphicon-send" data-toggle="dropdown">  设置</p>
</div>

<div class = "btn-group", id="btnGroup">
	<%= content_tag :button , "基础设置" ,class: "btn btn-default" %>
	<%= content_tag :button , "个人资料" ,class: "btn btn-default" %>
	<%= content_tag :button , "社交帐号" ,class: "btn btn-default" %>
	<%= content_tag :button , "账号管理" ,class: "btn btn-default" %>
	<%= content_tag :button , "其他" ,class: "btn btn-default" %>
</div>

	

<div class = "user_info", id = "user_info" >
	<%= image_tag @user.avatar.url(:thumb), class: "img-circle"%>
	<%= form_for(@user,url: update_path, html: { multipart: true }) do |form| %>
		<%= form.file_field :avatar ,placeholder: "上传头像", class: "update_photo" %>
		<%= form.label "邮箱" %>
		<fieldset disabled>
			<%= form.email_field :email, id: "disabledEmailInput" ,class: "form-control" %>
		</fieldset>
		<%= form.label "昵称" %>
		<%= form.text_field :name , class: "form-control" %>

  	
  	<%= form.submit "确定", class: "btn btn-default" %>
	<% end %>

</div>

